<ul>
  <li class="nav-item">
    <a href="{{ site.baseurl }}/docs/developer_guide/index.html">Developer Guide</a>

    <ul class="sub-context-nav">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/hammer_dev_env.html">Hammer Dev Environment</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/github_workflow.html">Github Workflow</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/pull_request_checklist.html">Pull Request Checklist</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/testing.html">Testing</a>
      </li>
    </ul>
  </li>
</ul>
