<ul>
  <li class="nav-item">
    <a href="{{ site.baseurl }}/docs/developer_guide/index.html">Developer Guide</a>

    <ul class="sub-context-nav">
      {% for page in site.pages %}
        {% if page.path contains "docs/developer_guide" %}
          {% unless page.path contains "style" %}
            <li class="nav-item">
              <a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </li>
</ul>
