<nav class="context-nav">

  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/developers/">Developer Guide</a>

      <ul class="sub-context-nav">
        {% for page in site.pages %}
          {% if page.path contains "developers" %}
            {% unless (page.path contains "style" or page.path contains "bastion" or page.path contains "developers/index.md") %}
              <li class="nav-item">
                <a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>

  {% include sidebars/style_guide.html %}
  {% include sidebars/bastion.html %}

</nav>
