<nav class="context-nav">

  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/installation/index.html">Installation</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/release_notes/release_notes.html">Release Notes</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/api/index.html">API</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/cli/index.html">CLI</a>
    </li>
  </ul>

  {% include sidebars/user_guide.html %}

</nav>
