<nav class="context-nav">

  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/installation/index.html">Installation</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/release_notes/release_notes_20.html">Release Notes</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/api/index.html">API</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/cli/index.html">CLI</a>
    </li>
  </ul>
  {% include sidebars/user_guide.html %}
  {% include sidebars/developer_guide.html %}

</nav>
