<nav class="context-nav">

  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/installation/index.html">Installation</a>
      <ul class="sub-context-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/installation/index.html">Katello</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/installation/capsule.html">Capsule</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/installation/clients.html">Clients</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/upgrade/index.html">Upgrade</a>
      <ul class="sub-context-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/upgrade/index.html">Katello</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/upgrade/capsule.html">Capsule</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/docs/{{ site.version }}/upgrade/clients.html">Clients</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/release_notes/release_notes.html">Release Notes</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/api/index.html">API</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/docs/{{ site.version }}/cli/index.html">CLI</a>
    </li>
  </ul>

  {% include sidebars/user_guide.html %}

</nav>
