<ul>
  <li class="nav-item">
    <a href="{{ site.baseurl }}/docs/reference_guide/glossary.html">Reference Guide</a>

    <ul class="sub-context-nav">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/glossary.html">Glossary</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/lifecycle_environments.html">Lifecycle Environments</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/subscriptions.html">Subscriptions</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/activation_keys.html">Activation Keys</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/products_and_repositories.html">Products and Repositories</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/syncing.html">Syncing</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/gpg_keys.html">GPG Keys</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/content_views.html">Content Views</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/content_search.html">Content Search</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/content_hosts.html">Content Hosts</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/host_collections.html">Host Collections</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/roles_and_permissions.html">Roles and Permissions</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/reference_guide/rhsm.html">Red Hat Subscription Manager</a>
      </li>
    </ul>
  </li>
</ul>
