<ul>
  <li class="nav-item">
    <a href="{{ site.baseurl }}/docs/developer_guide/index.html">Style Guides</a>

    <ul class="sub-context-nav">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/style/git_commit_messages.html">Commit Messages</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/style/ruby.html">Ruby</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.baseurl }}/docs/developer_guide/style/javascript.html">Javascript</a>
      </li>
    </ul>

  </li>
</ul>
