body {
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.navbar {
  min-height: 70px;
}

.navbar .logo {
  text-decoration: none;
}

.navbar-header .logo img {
  width: 7em;
  height: 7em;
  position: fixed;
  margin-left: 1em;
}

.navbar-inverse .logo span {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 3.5em;
  color: #FFF;
  line-height: 70px;
}

.navbar-nav li a {
  line-height: 40px;
  transition: all .8s ease;
}

.navbar-inverse .navbar-nav li a:hover {
  background: rgba(255, 255, 255, .1);
}

.content {
  margin-top: 70px;
}

.container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  text-align: left;
  background-color: #202020;
  max-width: 25em;
}

.sidebar .title {
  padding-left: 2rem;
}

img {
  width: 100%;
  height: 100%;
}

.page-title {
  text-transform: uppercase;
  font-weight: 400;
  background: #00CCCC;
  line-height: 0.2em;
  color: #FFF;
  padding: 1.4em;
  height: 1em;
  font-size: 2.5em;
}

.has-sidebar {
  padding-left: 20em;
}

.context-nav {
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 17em;
  margin: 0;
  padding: 0;
}

.context-nav ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-start: 0;
  list-style: none;
}

.context-nav .nav-item a {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  display: block;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.4;
  text-decoration: none;
}

.sub-context-nav {
  margin-left: 1em;
}

.sub-context-nav .nav-item a {
  border-bottom: none;
}

pre {
  font-size: 14px;
  border-radius: 3px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

h1,h2,h3 {
  font-weight: bold;
}

h2,h3 {
  margin-top: 50px;
}

.banner {
  background: #00CCCC;
  height: 300px;
}

.banner img {
  width: 150px;
  margin-top: 20px;
}

.foreman-katello-logos {
  float: right;
}

.foreman-katello-logos .fa-plus {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.tagline {
  margin-top: 5px;
  padding-top: 0.75em;
  font-size: 3em;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.get-started {
  background: #06A8A8;
  padding: 5px 80px 5px 80px;
  font-size: 2em;
  border: 2px solid #05A3A3;
  margin: 0 auto;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 3px;
  color: white;
  float: right;
  text-decoration: none;
}

.get-started:hover {
  background: #154B4B;
  color: #00CCCC;
  text-decoration: none;
}

.info-section {
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: justify;
}

.info-section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.info-section p {
  font-size: 0.9em;
}

.info-section i {
  margin: 0 6px 0 0;
}

.info-section ul {
  list-style: none;
}

.info-section h4 {
  font-weight: bold;
  margin-top: 30px;
}

.news {
  background: #F7F7F7;
  border: 1px solid #CCC;
  border-top: none;
  min-height: 500px;
}

.news h1 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
}

.news .snippet {
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  padding-top: 10px;
}

.splash-page-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(252, 252, 252);
}

.splash-page {
  margin: 0 auto;
  margin-top: 3em;
  font-size: 4em;
  text-transform: uppercase;
  width: 80%;
}

.splash-page div {
  color: rgba(88, 88, 88);
  text-shadow: 6px 6px rgb(238, 238, 238);
  position: relative;
}

.fading-effect {
  position:absolute;
  top:0; bottom:0; right:0;
  width:100%;
  background: rgb(252, 252, 252);
  -moz-animation: showHide 2s ease-in forwards; /* Firefox */
  -webkit-animation: showHide 2s ease-in forwards; /* Safari and Chrome */
  -ms-animation: showHide 2s ease-in forwards; /* IE10 */
  -o-animation: showHide 2s ease-in forwards; /* Opera */
  animation: showHide 2s ease-in forwards;
}

.effect-1 {
  -moz-animation-delay: 1.5s; /* Firefox */
  -webkit-animation-delay: 1.5s; /* Safari and Chrome */
  -ms-animation-delay: 1.5s; /* IE10 */
  -o-animation-delay: 1.5s; /* Opera */
  animation-delay: 1.5s;
}

@-webkit-keyframes showHide { /* Chrome, Safari */
  from { width: 100% }
  to { width: 0% }
}
@-moz-keyframes showHide { /* FF */
  from { width: 100% }
  to { width: 0% }
}
@-ms-keyframes showHide { /* IE10 */
  from { width: 100% }
  to { width: 0% }
}
@-o-keyframes showHide { /* Opera */
  from { width: 100% }
  to { width: 0% }
}
@keyframes showHide {
  from { width: 100% }
  to { width: 0% }
}

iframe {
  width: 100%;
  border: none;
  height: 800px;
}
