<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/patternfly.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
  </head>

  <body>
    {{ content }}

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

    {% if page.script %}
      <script src="{{ site.baseurl }}/assets/js/{{ page.script }}"></script>
    {% endif %}
  </body>
</html>
