---
layout: base
---

{% include navigation.html %}

<div class="content">
  <h2 class="page-title">
    <div class="container">{% if site.version %}{{ site.version }}: {% endif %}{{ page.title }}</div>
  </h2>

{% if page.sidebar %}
  <section class="container has-sidebar">
    {% include {{page.sidebar}} %}
{% else %}
  <section class="container">
{% endif %}

    <div class="section">
      {% if page.markdown == 1 %}
        {{ content | markdownify }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </section>

</div>
